<div class="heading">
	<a href="/more/tools/snippets/">All snippets</a>
	<div id="inHead">
		<a id="fakeLogo" href="/" title="Home">
			<div class="square" id="s1"></div>
			<div class="square" id="s2"></div>
		</a>
		<div id="topLinks">
			<a href="/aboutme.html" title="About me"></a>
			<a href="/creative/" title="Art"></a>
			<a href="/more/archive/blog/" title="Blog"></a>
			<a href="/interests/" title="interests"></a>
			<a href="/more/" title="More"></a>
			<a href="/guestbook.html" title="Guestbook"></a>
		</div>
	</div>
</div>