<div class="heading">
	<a href="/more/tools/snippets/">All snippets</a>
	<div id="inHead">
		<a id="fakeLogo" href="/" title="Home">
			<div class="square" id="s1"></div>
			<div class="square" id="s2"></div>
		</a>
		<div id="topLinks">
			<a href="/aboutme.html" title="About me"><img src="/resources/nav/me.png"></a>
			<a href="/creative/" title="Art"><img src="/resources/nav/art.png"></a>
			<a href="/more/archive/blog/" title="Blog"><img src="/resources/nav/blog.png"></a>
			<a href="/interests/" title="interests"><img src="/resources/nav/intr.png"></a>
			<a href="/more/" title="More"><img src="/resources/nav/more.png"></a>
			<a href="/guestbook.html" title="Guestbook"><img src="/resources/nav/gb.png"></a>
		</div>
	</div>
</div>