@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@700&family=Martian+Mono:wght@600&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
	box-sizing: border-box;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: none;
}
body {font-family: 'Ubuntu', sans-serif;}
h1, h2, h3, h4, h5, h6 {font-family: 'Kode Mono', monospace;}
code {font-family: 'Martian Mono', monospace;}
img {image-rendering: pixelated;}