#poopBlock iframe {
	width: 100%;
	height: 30px;
	border: none;
	display: none;
}
.heading {
	width: 100%;
	z-index: 10;
	margin: 0;
	bottom: 0;
	position: fixed;
	transition-duration: 0.5s;
	height: 30px;
	background-color: black;
}
.heading::after {
	position: absolute;
	height: 1px;
	width: 100%;
	background: linear-gradient(90deg, var(--bg-1) 0%, var(--bg-2) 50%, var(--bg-1) 100%);
	content: '';
	bottom: 0;
	top: 0;
}
#inHead {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 100px;
	margin: 5px;
}
.topLinks, .topLinks a, #fakeLogo, .square {pointer-events: all;}
.topLinks {display: flex;}
.topLinks a {
	display: flex;
	font-size: 15px;
	color: white;
	padding: 0 7px 0 7px;
	background-color: unset !important;
}
.topLinks a:first-child {color: #c5e7ff;}
.topLinks a:nth-child(2) {color: #dce1ff;}
.topLinks a:nth-child(3) {color: #ffd6fe;}
.topLinks a:nth-child(4) {color: #ffdadb;}
.topLinks a:nth-child(5) {color: #ffdad6;}
#fakeLogo {
	display: flex;
	align-items: center;
	transition-duration: 0.4s;
	cursor: url(/media/pointer.png), pointer;
	z-index: 2;
	margin: -35px 20px 0 0;
	padding: 5px;
	pointer-events: all;
	position: absolute;
	right: 5px;
	background: linear-gradient(0deg, #7e7e7e 0%, #ffffff 100%);
	border: 5px solid black;
	aspect-ratio: 1;
}
#fakeLogo:hover {
	padding: 10px;
	transform: translateY(-10px);
	box-shadow: 0 0 100px 20px var(--bg-1);
}
#fakeLogo .square {
	width: 15px;
	height: 15px;
	margin: 2px;
}
#fakeLogo:hover .square {
	transform: scale(1.5);
	transform-origin: center;
	margin: 1px;
	transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
	animation: look-around 3s;
}
@keyframes look-around {
	30% {transform-origin: initial;}
	40% {transform-origin: left;}
	50% {transform-origin: left;}
	60% {transform-origin: right;}
	75% {transform-origin: right;}
	85% {transform-origin: initial;}
}
#fakeLogo:hover #s1 {margin-right: 10px;}
#s1 {background-color: red; background: linear-gradient(0deg, #ff7b00 0%, #ff0000 100%); transition-duration: 0.3s;}
#s2 {background-color: #00a2ff; background: linear-gradient(180deg, #00a2ff 0%, #0044ff 100%); transition-duration: 0.5s;}
#fakeLogo:active {
	padding: 7px;
	box-shadow: 0 0 100px 50px var(--bg-1);
}
#fakeLogo:active .square {
	margin: 1px;
	transition-duration: 0.2;
}
#fakeLogo:active #s1 {transform: scale(1.7); margin-right: 15px;}
#fakeLogo:active #s2 {transform: scale(2.1);}
#to-start {
	position: absolute;
	z-index: 1000;
	left: -500px;
	opacity: 0;
}
#to-start:focus {
	opacity: 1;
	left: 0;
}
@media only screen and (min-width: 650px) {
	@keyframes wink {
		0% {height: 15px; margin-top: 0; margin-bottom: 0;}
		10% {height: 15px; margin-top: 0; margin-bottom: 0;}
		11% {height: 5px; margin-top: 5px; margin-bottom: 5px;}
		12% {height: 15px; margin-top: 0; margin-bottom: 0;}
		48% {height: 15px; margin-top: 0; margin-bottom: 0;}
		50% {height: 5px; margin-top: 5px; margin-bottom: 5px;}
		52% {height: 15px; margin-top: 0; margin-bottom: 0;}
		100% {height: 15px; margin-top: 0; margin-bottom: 0;}
	}
	@keyframes blink {
		0% {height: 15px; margin-top: 0; margin-bottom: 0;}
		10% {height: 15px; margin-top: 0; margin-bottom: 0;}
		11% {height: 5px; margin-top: 5px; margin-bottom: 5px;}
		12% {height: 15px; margin-top: 0; margin-bottom: 0;}
		100% {height: 15px; margin-top: 0; margin-bottom: 0;}
	}
	#fakeLogo:not(:hover) #s1 {animation: wink 15s infinite;}
	#fakeLogo:not(:hover) #s2 {animation: blink 15s infinite;}
	.topLinks a {
		align-items: center;
		opacity: 0.7;
	}
	.topLinks a:hover {opacity: 1;}
	.topLinks a img {
		height: 12px;
		margin-right: 3px;
	}
}
@media only screen and (max-width: 650px) {
	.heading {
		height: 60px;
		background-image: url('/starry.gif');
	}
	#inHead {
		align-items: flex-start;
		padding-right: 55px;
	}
	#fakeLogo {
		margin: 0;
		border: unset;
		right: 5px;
		bottom: 5px;
	}
	.topLinks {
		position: absolute;
		align-items: flex-end;
	}
	.topLinks a {
		flex-direction: column;
		align-items: center;
		font-size: 9px;
		text-decoration: none !important;
		padding: 0 5px 0 5px;
	}
	.topLinks a:nth-child(6n) {display: none;}
	.topLinks a img {
		width: 36px;
		z-index: 50 !important;
	}
	.heading::after {background: linear-gradient(90deg, var(--bg-1) 0%, var(--bg-2) 50%, var(--bg-1) 100%);}
}
@media (prefers-contrast: more) {
	.topLinks a {color: white;}
	.topLinks a:hover {
		transition-duration: 0;
		font-weight: bold;
	}
}