@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  margin: 0;
}
h1 {font-family: 'Arvo', serif;}
h2 {font-family: 'Arvo', serif;}
h3 {font-family: 'Arvo', serif;}
h4 {font-family: 'Arvo', serif;}
button {cursor: pointer;}
.topnav {
  overflow: hidden;
  background-color: #140000;
  margin: 0;
  width: 110%;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  background-color: white;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  border-radius: 20px;
  margin: 5px;
  transition-duration: 0.3s;
}
@media only screen and (max-width: 768px) {
  .topnav a {
    font-size: 20px;
    padding: 10px;
  }
}
.topnav .active {
  background-color: #1a0000;
  color: #ff2424;
}
.topnav a:hover {
  background-color: #1a0000;
  color: #ff2424;
}
#bobbytext:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}