/* general styles */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@700&family=PT+Sans&display=swap');
body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	background: linear-gradient(180deg, var(--bg-1) 0%, var(--bg-2));
	background-color: var(--bg-1);
}
h1, h2, h3, h4, h5, h6 {font-family: 'Martian Mono', monospace;}
a {
	text-decoration: none;
	color: var(--dark-secondary);
}
img {image-rendering: pixelated;}
.nomarblock {
	margin-block-start: 0;
	margin-block-end: 0;
}
.box {
	padding: 5px;
	border: 1px solid var(--border);
	color: var(--dark-on-primary-container);
	background-color: var(--light-on-primary-container);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	margin-bottom: 10px;
}
#chewTooth {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	display: block;
	background-image: url(/starry.gif);
	width: 100%;
	height: 120%;
	mix-blend-mode: luminosity;
	image-rendering: pixelated;
	animation: zoomSauce 1s;
}
@keyframes zoomSauce {
	0% {scale: 1.1; filter: blur(5px);}
	100% {scale: 1;}
}
::selection {
	background-color: var(--dark-tertiary);
	color: var(--dark-on-tertiary);
}
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {background-color: black;}
::-webkit-scrollbar-thumb {background: linear-gradient(45deg, var(--bg-2) 0%, var(--bg-1) 100%);}

/* navigation styles */

/* navbar */
#poopBlock iframe {
	width: 100%;
	height: 30px;
	border: none;
	display: none;
}
.heading {
	width: 100%;
	z-index: 10;
	margin: 0;
	top: 0;
	position: fixed;
	transition-duration: 0.5s;
	height: 35px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0.5) 100%);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
	pointer-events: none;
}
.heading:hover {
	height: 60px;
	transition-duration: 0.3s;
}
#heightCheck {height: 30px;}
#inHead {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
}
.headerVisible {transform: translateY(0px) !important;}
.headerInvisible {transform: translateY(-50px);}
.square {
	width: 15px;
	height: 15px;
	margin: 2px;
	transition-duration: 0.3s;
}
.topLinks a {
	font-weight: bold;
	font-size: 15px;
	color: white;
	padding: 0 10px 0 10px;
	transition-duration: 0.3s;
	text-shadow: 0 0 5px black;
	opacity: 0.7;
	background-color: unset !important;
	pointer-events: all;
}
.topLinks a:hover {
	opacity: 1;
	text-shadow: 0 0 10px white;
}
#fakeLogo {
	display: flex;
	align-items: center;
	transition-duration: 0.3s;
	cursor: pointer;
	z-index: 2;
	margin: 0 22px 0 22px;
	background-color: unset !important;
	pointer-events: all;
}
#fakeLogo:hover {
	margin: 0;
	transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
#fakeLogo:hover #s1 {box-shadow: 0 0 100px 25px red, 42px 0 100px 25px #00a2ff;}
#fakeLogo .square {
	width: 15px;
	height: 15px;
}
#fakeLogo p {
	pointer-events: none;
	font-family: 'Martian Mono', monospace;
	margin: 0 5px 0 5px;
	transition-duration: 0.3s;
	opacity: 0;
	text-shadow: 0 0 10px black;
	filter: contrast(0.8);
}
#fakeLogo:hover .square {
	width: 35px;
	height: 35px;
	margin-right: 5px;
	transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
#fakeLogo:hover p {
	font-size: 30px;
	opacity: 1;
	transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);;
}
#fakeLogo:active .square {
	transition-duration: 0.2s;
	width: 25px;
}
#fakeLogo:active p {
	font-size: 20px;
	filter: contrast(1);
}
#fakeLogo:active #s1 {margin-left: 12px;}
#fakeLogo:active #s2 {margin-right: 10px !important;}
.square {
	width: 15px;
	height: 15px;
	margin: 2px;
	transition-duration: 0.3s;
}
/* sidebar */
#sideButton, #closeSide {
	position: fixed;
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
	background-color: #000000a4;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid white;
	z-index: 24;
	margin: 10px;
	display: flex;
	top: 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#sideButton .rect {
	height: 8px;
	width: 35px;
	background-color: white;
	margin-bottom: 5px;
}
#overSide {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0) 100%);
	z-index: 25;
	animation: slideLeft 0.5s;
	flex-direction: column;
	justify-content: space-between;
	top: 0;
}
#overSide a {
	margin: 25px;
	background-color: #051c3599;
	border: 1px solid #4cdadc;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	font-size: 30px;
	font-family: 'Martian Mono', monospace;
	color: #6ff6f9;
	padding: 10px;
	position: relative;
	z-index: 51;
}
#closeSide {
	position: unset;
	box-shadow: 0 0 200px 50px rgb(0, 238, 255);
}
#closeSide .rect {
	width: 30px;
	height: 8px;
	position: absolute;
}
#closeRect1 {
	transform: rotateZ(45deg);
	background-color: #00a2ff;
}
#closeRect2 {
	transform: rotateZ(315deg);
	background-color: red;
}
#closeRect3 {
	transform: rotateZ(45deg);
	background-color: white;
	width: 8px !important;
}
@keyframes slideLeft {
	0% {left: -650px;}
	100% {left: 0;}
}
/* other */
@media only screen and (min-width: 650px) {
	#sideButton, #overSide {display: none !important;}
}
@media only screen and (max-width: 650px) {
	#poopBlock {display: none;}
	#heightCheck {height: 75px;}
}
@media only screen and (max-height: 750px) {
	#overSide a {margin: 10px 25px 10px 25px !important;}
	#overSide {justify-content: flex-start !important;}
}
@media only screen and (min-height: 750px) {
	#bottomNavLink {margin-bottom: 150px;}
}