/* general styles */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@700&family=PT+Sans&display=swap');
* {box-sizing: border-box;}
body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	background-color: var(--bg-1);
	cursor: url(/media/home/cursor.png), default;
	background: linear-gradient(180deg, var(--bg-1) 0%, var(--bg-2));
}
main {
	--p: 1;
	--pixel: calc(var(--p) * 1px); /* don't change this */
	--s-main: calc(var(--pixel) * 20); /* size of the cut. you can change the number on the right of the asterisk for a deeper or shallower cut */
	max-width: 610px;
	margin: auto;
	padding: 10px;
	overflow: hidden;
	margin-bottom: 10px;
	position: relative;
	backdrop-filter: blur(5px);
	clip-path: polygon(
		var(--s-main) 0%, 
		calc(100% - var(--s-main)) 0%, 
		100% var(--s-main), 100% calc(100% - var(--s-main)), 
		calc(100% - var(--s-main)) 100%, 
		var(--s-main) 100%, 
		0% calc(100% - var(--s-main)), 
		0% var(--s-main));
}
main:before {
	content:"";
	position:absolute;
	inset:0;
	z-index: -1;
	background: linear-gradient(45deg,var(--bg-1),var(--bg-2));
	--g1:#000 var(--pixel),#0000 0 calc(100% - var(--pixel)),#000 0;
	--g2:#0000   calc(0.707*var(--s-main)), 
		#000  0 calc(0.707*var(--s-main) + var(--pixel)),
		#0000 0 calc(100% - 0.707*var(--s-main) - var(--pixel)),
		#000  0 calc(100% - 0.707*var(--s-main)),
		#0000 0;
	-webkit-mask:
	linear-gradient(45deg ,var(--g2)),
	linear-gradient(-45deg,var(--g2)),
	linear-gradient(90deg ,var(--g1)) 50%/100% calc(100% - 2*var(--s-main)) no-repeat,
	linear-gradient(180deg,var(--g1)) 50%/calc(100% - 2*var(--s-main)) 100% no-repeat;
mask:
	linear-gradient(45deg ,var(--g2)),
	linear-gradient(-45deg,var(--g2)),
	linear-gradient(90deg ,var(--g1)) 50%/100% calc(100% - 2*var(--s-main)) no-repeat,
	linear-gradient(180deg,var(--g1)) 50%/calc(100% - 2*var(--s-main)) 100% no-repeat;
}
h1, h2, h3, h4, h5, h6 {font-family: 'Martian Mono', monospace;}
a {
	text-decoration: none;
	color: var(--dark-secondary);
}
img {image-rendering: pixelated;}
button {
	cursor: pointer;
	font-family: 'PT Sans', sans-serif;
}
.nomarblock {
	margin-block-start: 0;
	margin-block-end: 0;
}
:root {
	--p: 1;
	--pixel: calc(var(--p) * 1px); /* don't change this */
	--b-radius: 15;
  --s: calc(var(--pixel) * var(--b-radius));
}
.box {
  padding: 5px;
  color: var(--dark-on-primary-container);
  background-color: var(--light-on-primary-container);
  backdrop-filter: blur(5px);
  position: relative;
  -webkit-backdrop-filter: blur(5px);
  margin-bottom: 10px;
  overflow: hidden;
	clip-path: polygon(var(--s) 0%, calc(100% - var(--s)) 0%, 100% var(--s), 100% calc(100% - var(--s)), calc(100% - var(--s)) 100%, var(--s) 100%, 0% calc(100% - var(--s)), 0% var(--s));
}
.box:before {
	content:"";
	position:absolute;
	inset:0;
	z-index: -1;
	background-color: var(--border);
	--g1:#000 var(--pixel),#0000 0 calc(100% - var(--pixel)),#000 0;
	--g2:#0000   calc(0.707*var(--s)), 
		#000  0 calc(0.707*var(--s) + var(--pixel)),
		#0000 0 calc(100% - 0.707*var(--s) - var(--pixel)),
		#000  0 calc(100% - 0.707*var(--s)),
		#0000 0;
	-webkit-mask:
		linear-gradient(45deg ,var(--g2)),
		linear-gradient(-45deg,var(--g2)),
		linear-gradient(90deg ,var(--g1)) 50%/100% calc(100% - 2*var(--s)) no-repeat,
		linear-gradient(180deg,var(--g1)) 50%/calc(100% - 2*var(--s)) 100% no-repeat;
	mask:
		linear-gradient(45deg ,var(--g2)),
		linear-gradient(-45deg,var(--g2)),
		linear-gradient(90deg ,var(--g1)) 50%/100% calc(100% - 2*var(--s)) no-repeat,
		linear-gradient(180deg,var(--g1)) 50%/calc(100% - 2*var(--s)) 100% no-repeat;
}
.box a:not(:has(img)) {
	position: relative;
	color: var(--dark-tertiary);
}
.box a:not(:has(img))::after {
	content: '';
	background: linear-gradient(90deg, var(--dark-primary) 0%, var(--dark-tertiary) 100%);
	height: 1px;
	width: 100%;
	background-position: bottom;
	background-size: 100% 1px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
}
.box a:not(:has(img)):hover::after {animation: happyHover 0.3s;}
@keyframes happyHover {
	0% {background-size: 100% 1px; background-position: 100% 100%;}
	50% {background-size: 0% 1px; background-position: 100% 100%;}
	51% {background-position: 0% 100%;}
	100% {background-size: 100% 1px; background-position: 0% 100%;}
}
.noline::after {display: none;}
#chewTooth {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	display: block;
	background-image: url(/starry.gif);
	width: 100%;
	height: 120%;
	mix-blend-mode: luminosity;
	image-rendering: pixelated;
}
/* .page-top {border-radius: 10px 10px 2px 2px !important;}
.page-bottom {border-radius: 2px 2px 10px 10px !important; margin-bottom: 0 !important;} */
.page-bottom {margin-bottom: 0 !important;}
/* .sec-tl {border-radius: 5px 2px 2px 2px !important;}
.sec-tr {border-radius: 2px 5px 2px 2px !important;}
.sec-br {border-radius: 2px 2px 5px 2px !important;}
.sec-bl {border-radius: 2px 2px 2px 5px !important;}
.sec-l {border-radius: 5px 2px 2px 5px !important;}
.sec-r {border-radius: 2px 5px 5px 2px !important;}
.sec-t {border-radius: 5px 5px 2px 2px !important;}
.sec-b {border-radius: 2px 2px 5px 5px !important;}
.sec-full {border-radius: 5px !important;} */
@supports (animation-timeline: view()) {
	@keyframes scrolly {
		from {background-position-y: 0%;}
		to {background-position-y: -25%;}
	}
	#chewTooth {
		animation: scrolly linear;
		animation-timeline: scroll();
		animation-range: 0% 100%;
	}
}
::selection {
	background-color: var(--dark-tertiary);
	color: var(--dark-on-tertiary);
}
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {background-color: black;}
::-webkit-scrollbar-thumb {background: linear-gradient(45deg, var(--bg-2) 0%, var(--bg-1) 100%);}
/* footer */
.footer, .inner-footer {width: 100%;}
.footer {
	background: linear-gradient(45deg, var(--bg-2) 0%, var(--bg-1) 100%);
	padding: 1px;
}
.inner-footer {
	background-color: black;
	font-family: 'Martian Mono', monospace;
	font-weight: bold;
	padding: 10px;
	color: white;
}
.inner-footer p {text-align: center;}
#random-message {
	font-size: 10px;
	cursor: pointer;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	color: gray;
}
#random-message:hover {
	color: white;
	box-shadow: none;
}

/* navigation styles */

/* navbar */
#poopBlock iframe {
	width: 100%;
	height: 30px;
	border: none;
	display: none;
}
.heading {
	width: 100%;
	z-index: 10;
	margin: 0;
	top: 0;
	position: fixed;
	transition-duration: 0.5s;
	height: 35px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0.8) 100%);
	pointer-events: none;
}
#heightCheck {height: 30px;}
#inHead {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
}
.headerVisible {transform: translateY(0px) !important;}
.headerInvisible {transform: translateY(-50px);}
.square {
	width: 15px;
	height: 15px;
	margin: 2px;
	transition-duration: 0.3s;
}
.topLinks, .topLinks a, #fakeLogo, .square {pointer-events: all;}
.topLinks a {
	font-weight: bold;
	font-size: 15px;
	color: white !important;
	padding: 0 10px 0 10px;
	transition-duration: 0.3s;
	text-shadow: 0 0 5px black;
	opacity: 0.7;
	background-color: unset !important;
	mix-blend-mode: difference;
}
.topLinks a:hover {
	opacity: 1;
	text-shadow: 0 0 10px white;
}
#fakeLogo {
	display: flex;
	align-items: center;
	transition-duration: 0.3s;
	cursor: pointer;
	z-index: 2;
	margin: 0 22px 0 22px;
	background-color: unset !important;
	pointer-events: all;
}
#fakeLogo:hover {
	margin: 0;
	transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
#fakeLogo:hover #s1 {box-shadow: 0 0 100px 25px red, 42px 0 100px 25px #00a2ff;}
#fakeLogo .square {
	width: 15px;
	height: 15px;
}
#fakeLogo p {
	pointer-events: none;
	font-family: 'Martian Mono', monospace;
	margin: 0 5px 0 5px;
	transition-duration: 0.3s;
	opacity: 0;
	text-shadow: 0 0 10px black;
	filter: contrast(0.8);
}
#fakeLogo:hover .square {
	width: 35px;
	height: 35px;
	margin-right: 5px;
	transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
#fakeLogo:hover p {
	font-size: 30px;
	opacity: 1;
	transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);;
}
#fakeLogo:active .square {
	transition-duration: 0.2s;
	width: 25px;
}
#fakeLogo:active p {
	font-size: 20px;
	filter: contrast(1);
}
#s1 {background-color: red;}
#s2 {background-color: #00a2ff;}

#fakeLogo:active #s1 {margin-left: 12px;}
#fakeLogo:active #s2 {margin-right: 10px !important;}
.square {
	width: 15px;
	height: 15px;
	margin: 2px;
	transition-duration: 0.3s;
}
/* sidebar */
#sideButton, #closeSide {
	position: fixed;
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
	background-color: #000000a4;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid white;
	z-index: 24;
	margin: 10px;
	display: flex;
	top: 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#sideButton .rect {
	height: 8px;
	width: 35px;
	background-color: white;
	margin-bottom: 5px;
}
#overSide {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0) 100%);
	z-index: 25;
	animation: slideLeft 0.5s;
	flex-direction: column;
	justify-content: space-between;
	top: 0;
}
#overSide a {
	margin: 25px;
	background-color: #051c3599;
	border: 1px solid #4cdadc;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	font-size: 30px;
	font-family: 'Martian Mono', monospace;
	color: #6ff6f9;
	padding: 10px;
	position: relative;
	z-index: 51;
}
#closeSide {
	position: unset;
	box-shadow: 0 0 200px 50px rgb(0, 238, 255);
}
#closeSide .rect {
	width: 30px;
	height: 8px;
	position: absolute;
}
#closeRect1 {
	transform: rotateZ(45deg);
	background-color: #00a2ff;
}
#closeRect2 {
	transform: rotateZ(315deg);
	background-color: red;
}
#closeRect3 {
	transform: rotateZ(45deg);
	background-color: white;
	width: 8px !important;
}
@keyframes slideLeft {
	0% {left: -650px;}
	100% {left: 0;}
}
/* other */
@media only screen and (min-width: 650px) {
	#sideButton, #overSide {display: none !important;}
	/* main {box-shadow: -20px -20px 100px 0 var(--bg-1), 20px 20px 100px 0 var(--bg-2);} */
	/* main {filter: drop-shadow(0 0 100px var(--bg-1));} */
}
@media only screen and (max-width: 650px) {
	#poopBlock {display: none;}
	#heightCheck {height: 75px;}
}
@media only screen and (max-height: 750px) {
	#overSide a {margin: 10px 25px 10px 25px !important;}
	#overSide {justify-content: flex-start !important;}
}
@media only screen and (min-height: 750px) {
	#bottomNavLink {margin-bottom: 150px;}
}