/* general styles */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@700&family=PT+Sans&display=swap');
* {
	box-sizing: border-box;
	text-rendering: optimizeSpeed;
}
body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	background-color: var(--bg-1);
	cursor: url(/media/home/cursor.png), default;
	background: linear-gradient(180deg, var(--bg-1) 0%, var(--bg-2));
}
main {
	--p: 1;
	--pixel: calc(var(--p) * 1px);
	--s-main: calc(var(--pixel) * 20);
	max-width: 610px;
	margin: auto;
	padding: 10px;
	overflow: hidden;
	margin-bottom: 10px;
	position: relative;
	backdrop-filter: blur(5px);
	clip-path: polygon(
		var(--s-main) 0%, 
		calc(100% - var(--s-main)) 0%, 
		100% var(--s-main), 100% calc(100% - var(--s-main)), 
		calc(100% - var(--s-main)) 100%, 
		var(--s-main) 100%, 
		0% calc(100% - var(--s-main)), 
		0% var(--s-main));
}
main:before {
	content:"";
	position:absolute;
	inset:0;
	z-index: -1;
	background: linear-gradient(45deg,var(--bg-2),var(--bg-1));
	--g1:#000 var(--pixel),#0000 0 calc(100% - var(--pixel)),#000 0;
	--g2:#0000   calc(0.707*var(--s-main)), 
		#000  0 calc(0.707*var(--s-main) + var(--pixel)),
		#0000 0 calc(100% - 0.707*var(--s-main) - var(--pixel)),
		#000  0 calc(100% - 0.707*var(--s-main)),
		#0000 0;
	-webkit-mask:
	linear-gradient(45deg ,var(--g2)),
	linear-gradient(-45deg,var(--g2)),
	linear-gradient(90deg ,var(--g1)) 50%/100% calc(100% - 2*var(--s-main)) no-repeat,
	linear-gradient(180deg,var(--g1)) 50%/calc(100% - 2*var(--s-main)) 100% no-repeat;
mask:
	linear-gradient(45deg ,var(--g2)),
	linear-gradient(-45deg,var(--g2)),
	linear-gradient(90deg ,var(--g1)) 50%/100% calc(100% - 2*var(--s-main)) no-repeat,
	linear-gradient(180deg,var(--g1)) 50%/calc(100% - 2*var(--s-main)) 100% no-repeat;
}
h1, h2, h3, h4, h5, h6 {font-family: 'Martian Mono', monospace;}
a {
	text-decoration: none;
	color: var(--dark-secondary);
}
img {image-rendering: pixelated;}
button {
	cursor: pointer;
	font-family: 'PT Sans', sans-serif;
}
.nomarblock {
	margin-block-start: 0;
	margin-block-end: 0;
}
.box {
	padding: 5px;
	color: var(--dark-on-primary-container);
	background-color: var(--light-on-primary-container);
	margin-bottom: 10px;
}
.box, .footer, .boxy, .boxyless {
	--p: 1;
	--pixel: calc(var(--p) * 1px); /* don't change this */
	--b-radius-tl: 5; /* top-left */
	--b-radius-tr: 5; /* top-right */
	--b-radius-br: 5; /* bottom-right */
	--b-radius-bl: 5; /* bottom-left */
	--s-tl: calc(var(--pixel) * var(--b-radius-tl));
	--s-tr: calc(var(--pixel) * var(--b-radius-tr));
	--s-br: calc(var(--pixel) * var(--b-radius-br));
	--s-bl: calc(var(--pixel) * var(--b-radius-bl));
	position: relative;
	overflow: hidden;
	clip-path: polygon(
		var(--s-tl) 0%, calc(100% - var(--s-tr)) 0%, 100% var(--s-tr), 
		100% calc(100% - var(--s-br)), calc(100% - var(--s-br)) 100%, 
		var(--s-bl) 100%, 0% calc(100% - var(--s-bl)), 0% var(--s-tl)
	);
}
.box::before, .footer::before, .boxy::before {
	content: "";
	position: absolute;
	inset: 0;
	z-index: 10;
	pointer-events: none;
	background-color: var(--border);
	--g1-tl: #0000 calc(0.707 * var(--s-tl)), #000 0 calc(0.707 * var(--s-tl) + var(--pixel)), #0000 0;
	--g1-tr: #0000 calc(0.707 * var(--s-tr)), #000 0 calc(0.707 * var(--s-tr) + var(--pixel)), #0000 0;
	--g1-br: #0000 calc(0.707 * var(--s-br)), #000 0 calc(0.707 * var(--s-br) + var(--pixel)), #0000 0;
	--g1-bl: #0000 calc(0.707 * var(--s-bl)), #000 0 calc(0.707 * var(--s-bl) + var(--pixel)), #0000 0;
	-webkit-mask:
		linear-gradient(135deg, var(--g1-tl)) top left,
		linear-gradient(-135deg, var(--g1-tr)) top right,
		linear-gradient(-45deg, var(--g1-br)) bottom right,
		linear-gradient(45deg, var(--g1-bl)) bottom left,
		linear-gradient(90deg, #000 var(--pixel), #0000 0 calc(100% - var(--pixel)), #000 0) 50%/100% calc(100% - 2*var(--pixel)) no-repeat,
		linear-gradient(180deg, #000 var(--pixel), #0000 0 calc(100% - var(--pixel)), #000 0) 50%/calc(100% - 2*var(--pixel)) 100% no-repeat;
	mask:
		linear-gradient(135deg, var(--g1-tl)) top left,
		linear-gradient(-135deg, var(--g1-tr)) top right,
		linear-gradient(-45deg, var(--g1-br)) bottom right,
		linear-gradient(45deg, var(--g1-bl)) bottom left,
		linear-gradient(90deg, #000 var(--pixel), #0000 0 calc(100% - var(--pixel)), #000 0) 50%/100% calc(100% - 2*var(--pixel)) no-repeat,
		linear-gradient(180deg, #000 var(--pixel), #0000 0 calc(100% - var(--pixel)), #000 0) 50%/calc(100% - 2*var(--pixel)) 100% no-repeat;
}
.boxyless {
	--b-radius-tl: 0;
	--b-radius-tr: 0;
	--b-radius-br: 0;
	--b-radius-bl: 0;
}
.box a:not(:has(img)) {
	position: relative;
	color: var(--dark-tertiary);
}
.box a:not(:has(img))::after {
	content: '';
	background: linear-gradient(90deg, var(--dark-primary) 0%, var(--dark-tertiary) 100%);
	height: 1px;
	width: 100%;
	background-position: bottom;
	background-size: 100% 1px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	left: 0;
}
.box a:not(:has(img)):hover::after {animation: happyHover 0.3s;}
@keyframes happyHover {
	0% {background-size: 100% 1px; background-position: 100% 100%;}
	50% {background-size: 0% 1px; background-position: 100% 100%;}
	51% {background-position: 0% 100%;}
	100% {background-size: 100% 1px; background-position: 0% 100%;}
}
.noline::after {display: none;}
#chewTooth {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	display: block;
	background-image: url(/starry.gif);
	width: 100%;
	height: 120%;
	mix-blend-mode: luminosity;
	image-rendering: pixelated;
}
.page-top {--b-radius-tl: 15 !important; --b-radius-tr: 15 !important; --b-radius-bl: 5 !important; --b-radius-br: 5 !important;}
.page-bottom {--b-radius-tl: 5 !important; --b-radius-tr: 5 !important; --b-radius-bl: 15 !important; --b-radius-br: 15 !important; margin-bottom: 0 !important;}
.page-tl {--b-radius-tl: 15 !important; --b-radius-tr: 5 !important; --b-radius-bl: 5 !important; --b-radius-br: 5 !important;}
.page-tr {--b-radius-tl: 5 !important; --b-radius-tr: 15 !important; --b-radius-bl: 5 !important; --b-radius-br: 5 !important;}
.sec-tl {--b-radius-tl: 10 !important; --b-radius-tr: 5 !important; --b-radius-bl: 5 !important; --b-radius-br: 5 !important;}
.sec-tr {--b-radius-tl: 5 !important; --b-radius-tr: 10 !important; --b-radius-bl: 5 !important; --b-radius-br: 5 !important;}
.sec-br {--b-radius-tl: 5 !important; --b-radius-tr: 5 !important; --b-radius-bl: 5 !important; --b-radius-br: 10 !important;}
.sec-bl {--b-radius-tl: 5 !important; --b-radius-tr: 5 !important; --b-radius-bl: 10 !important; --b-radius-br: 5 !important;}
.sec-l {--b-radius-tl: 10 !important; --b-radius-tr: 5 !important; --b-radius-bl: 10 !important; --b-radius-br: 5 !important;}
.sec-r {--b-radius-tl: 5 !important; --b-radius-tr: 10 !important; --b-radius-bl: 5 !important; --b-radius-br: 10 !important;}
.sec-t {--b-radius-tl: 10 !important; --b-radius-tr: 10 !important; --b-radius-bl: 5 !important; --b-radius-br: 5 !important;}
.sec-b {--b-radius-tl: 5 !important; --b-radius-tr: 5 !important; --b-radius-bl: 10 !important; --b-radius-br: 10 !important;}
.sec-full {--b-radius-tl: 10 !important; --b-radius-tr: 10 !important; --b-radius-bl: 10 !important; --b-radius-br: 10 !important;}

::selection {
	background-color: var(--dark-tertiary);
	color: var(--dark-on-tertiary);
}
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-track {background-color: black;}
::-webkit-scrollbar-thumb {background: linear-gradient(45deg, var(--bg-2) 0%, var(--bg-1) 100%);}
/* footer */
.footer {
	width: 100%;
	background-color: black;
	font-family: 'Martian Mono', monospace;
	font-weight: bold;
	padding: 10px;
	color: white;
}
.footer::before {
	background-color: unset !important;
	background: linear-gradient(45deg, var(--bg-2) 0%, var(--bg-1) 100%) !important;
}
.footer p {text-align: center;}
#random-message {
	font-size: 10px;
	cursor: pointer;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	color: gray;
}
#random-message:hover {
	color: white;
	box-shadow: none;
}

/* navigation styles */

/* navbar */
#poopBlock iframe {
	width: 100%;
	height: 30px;
	border: none;
	display: none;
}
.heading {
	width: 100%;
	z-index: 10;
	margin: 0;
	top: 0;
	position: fixed;
	transition-duration: 0.5s;
	height: 35px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0.8) 100%);
	pointer-events: none;
}
#heightCheck {height: 30px;}
#inHead {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
}
.headerVisible {transform: translateY(0px) !important;}
.headerInvisible {transform: translateY(-50px);}
.square {
	width: 15px;
	height: 15px;
	margin: 2px;
	transition-duration: 0.3s;
}
.topLinks, .topLinks a, #fakeLogo, .square {pointer-events: all;}
.topLinks a {
	font-weight: bold;
	font-size: 15px;
	color: white !important;
	padding: 0 10px 0 10px;
	transition-duration: 0.3s;
	text-shadow: 0 0 5px black;
	opacity: 0.7;
	background-color: unset !important;
}
.topLinks a:hover {
	opacity: 1;
	text-shadow: 0 0 10px white;
}
#fakeLogo {
	display: flex;
	align-items: center;
	transition-duration: 0.3s;
	cursor: pointer;
	z-index: 2;
	margin: 0 22px 0 22px;
	background-color: unset !important;
	pointer-events: all;
}
#fakeLogo:hover {
	margin: 0;
	transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
#fakeLogo:hover #s1 {box-shadow: 0 0 100px 25px red, 42px 0 100px 25px #00a2ff;}
#fakeLogo .square {
	width: 15px;
	height: 15px;
}
#fakeLogo p {
	pointer-events: none;
	font-family: 'Martian Mono', monospace;
	margin: 0 5px 0 5px;
	transition-duration: 0.3s;
	opacity: 0;
	text-shadow: 0 0 10px black;
	filter: contrast(0.8);
}
#fakeLogo:hover .square {
	width: 35px;
	height: 35px;
	margin-right: 5px;
	transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
#fakeLogo:hover p {
	font-size: 30px;
	opacity: 1;
	transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);;
}
#fakeLogo:active .square {
	transition-duration: 0.2s;
	width: 25px;
}
#fakeLogo:active p {
	font-size: 20px;
	filter: contrast(1);
}
#s1 {background-color: red;}
#s2 {background-color: #00a2ff;}

#fakeLogo:active #s1 {margin-left: 12px;}
#fakeLogo:active #s2 {margin-right: 10px !important;}
.square {
	width: 15px;
	height: 15px;
	margin: 2px;
	transition-duration: 0.3s;
}
/* sidebar */
#sideButton, #closeSide {
	position: fixed;
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
	background-color: #000000a4;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid white;
	z-index: 24;
	margin: 10px;
	display: flex;
	top: 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#sideButton .rect {
	height: 8px;
	width: 35px;
	background-color: white;
	margin-bottom: 5px;
}
#overSide {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0) 100%);
	z-index: 25;
	animation: slideLeft 0.5s;
	flex-direction: column;
	justify-content: space-between;
	top: 0;
}
#overSide a {
	margin: 25px;
	background-color: #051c3599;
	border: 1px solid #4cdadc;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	font-size: 30px;
	font-family: 'Martian Mono', monospace;
	color: #6ff6f9;
	padding: 10px;
	position: relative;
	z-index: 51;
}
#closeSide {
	position: unset;
	box-shadow: 0 0 200px 50px rgb(0, 238, 255);
}
#closeSide .rect {
	width: 30px;
	height: 8px;
	position: absolute;
}
#closeRect1 {
	transform: rotateZ(45deg);
	background-color: #00a2ff;
}
#closeRect2 {
	transform: rotateZ(315deg);
	background-color: red;
}
#closeRect3 {
	transform: rotateZ(45deg);
	background-color: white;
	width: 8px !important;
}
@keyframes slideLeft {
	0% {left: -650px;}
	100% {left: 0;}
}
/* other */
/* styling for desktop */
@media only screen and (min-width: 650px) {
	#sideButton, #overSide {display: none !important;}
	.d-page-top {--b-radius-tl: 15 !important; --b-radius-tr: 15 !important; --b-radius-bl: 5 !important; --b-radius-br: 5 !important;}
	.d-page-bottom {--b-radius-tl: 5 !important; --b-radius-tr: 5 !important; --b-radius-bl: 15 !important; --b-radius-br: 15 !important; margin-bottom: 0 !important;}
	.d-page-tl {--b-radius-tl: 15 !important; --b-radius-tr: 5 !important; --b-radius-bl: 5 !important; --b-radius-br: 5 !important;}
	.d-page-tr {--b-radius-tl: 5 !important; --b-radius-tr: 15 !important; --b-radius-bl: 5 !important; --b-radius-br: 5 !important;}
	.d-sec-tl {--b-radius-tl: 10 !important; --b-radius-tr: 5 !important; --b-radius-bl: 5 !important; --b-radius-br: 5 !important;}
	.d-sec-tr {--b-radius-tl: 5 !important; --b-radius-tr: 10 !important; --b-radius-bl: 5 !important; --b-radius-br: 5 !important;}
	.d-sec-br {--b-radius-tl: 5 !important; --b-radius-tr: 5 !important; --b-radius-bl: 5 !important; --b-radius-br: 10 !important;}
	.d-sec-bl {--b-radius-tl: 5 !important; --b-radius-tr: 5 !important; --b-radius-bl: 10 !important; --b-radius-br: 5 !important;}
	.d-sec-l {--b-radius-tl: 10 !important; --b-radius-tr: 5 !important; --b-radius-bl: 10 !important; --b-radius-br: 5 !important;}
	.d-sec-r {--b-radius-tl: 5 !important; --b-radius-tr: 10 !important; --b-radius-bl: 5 !important; --b-radius-br: 10 !important;}
	.d-sec-t {--b-radius-tl: 10 !important; --b-radius-tr: 10 !important; --b-radius-bl: 5 !important; --b-radius-br: 5 !important;}
	.d-sec-b {--b-radius-tl: 5 !important; --b-radius-tr: 5 !important; --b-radius-bl: 10 !important; --b-radius-br: 10 !important;}
	.d-sec-full {--b-radius-tl: 10 !important; --b-radius-tr: 10 !important; --b-radius-bl: 10 !important; --b-radius-br: 10 !important;}
}
/* styling for mobile */
@media only screen and (max-width: 650px) {
	#poopBlock {display: none;}
	#heightCheck {height: 75px;}
	.page-top, .m-page-top, .page-bottom, .m-page-bottom {border: unset !important;}
	.page-top, .m-page-top {--b-radius-tl: 15 !important; --b-radius-tr: 15 !important; --b-radius-bl: 0 !important; --b-radius-br: 0 !important;}
	.page-bottom, .m-page-bottom {--b-radius-tl: 0 !important; --b-radius-tr: 0 !important; --b-radius-bl: 15 !important; --b-radius-br: 15 !important; margin-bottom: 0 !important;}
	.m-page-tl, .page-tl {border-radius: 15px 2px 2px 2px !important;}
	.m-page-tr, .page-tr {border-radius: 2px 15px 2px 2px !important;}
	.m-sec-tl, .sec-tl {border-radius: 5px 2px 2px 2px !important;}
	.m-sec-tr, .sec-tr {border-radius: 2px 5px 2px 2px !important;}
	.m-sec-br, .sec-br {border-radius: 2px 2px 5px 2px !important;}
	.m-sec-bl, .sec-bl {border-radius: 2px 2px 2px 5px !important;}
	.m-sec-l, .sec-l {border-radius: 5px 2px 2px 5px !important;}
	.m-sec-r, .sec-r {border-radius: 2px 5px 5px 2px !important;}
	.m-sec-t, .sec-t {border-radius: 5px 5px 2px 2px !important;}
	.m-sec-b, .sec-b {border-radius: 2px 2px 5px 5px !important;}
	.m-sec-full, .sec-full {border-radius: 5px 5px 5px 5px !important;}
	.box, .boxy, .boxyless {clip-path: none;}
	.box, .boxy {border-radius: 2px;}
	.box, .boxy {border: 1px solid var(--border);}
	.box::before, .boxy::before {content: none;}
	.page-top, .page-bottom, .m-page-top {
		clip-path: polygon(
		var(--s-tl) 0%, calc(100% - var(--s-tr)) 0%, 100% var(--s-tr), 
		100% calc(100% - var(--s-br)), calc(100% - var(--s-br)) 100%, 
		var(--s-bl) 100%, 0% calc(100% - var(--s-bl)), 0% var(--s-tl)
	);
	}
	.page-top::before, .page-bottom::before, .m-page-top::before {content: '';}
}
@media only screen and (max-height: 750px) {
	#overSide a {margin: 10px 25px 10px 25px !important;}
	#overSide {justify-content: flex-start !important;}
}
@media only screen and (min-height: 750px) {
	#bottomNavLink {margin-bottom: 150px;}
}