<a href="#start" id="to-start"><button>Skip to Content</button></a>
<nav class="site-nav">
	<div class="navbar-links">
		<a id="n-i-m" href="/interests/music/"><div class="nav-icon"></div>MUSiC</a>
	</div>
	<a id="fakeLogo" title="Home" href="/index.html">
		<img src="/resources/nav/niqiu.png" alt="">
	</a>
	<div class="navbar-links">
		<a id="n-i-w" href="/interests/websites/"><div class="nav-icon"></div>WEBSiTES</a>
	</div>
</nav>