<div class="heading" id="poopBlock">
    <a id="fakeLogo" href="/index.html">
        <div class="square" id="s1" style="background-color: red;"></div>
        <div class="square" id="s2" style="background-color: #00a2ff; margin-right: 0;"></div>
    </a>
    <div id="inHead">
        <div class="topLinks">
            <a href="/interests/music/index.html" style="color: #ffdbcc;"><img src="/interests/res/nav/music.png" loading="lazy" alt="">MUSiC</a>
            <a href="/interests/websites/index.html" style="color: #b3ebff;"><img src="/interests/res/nav/web.png" loading="lazy" alt="">WEBSiTES</a>
        </div>
    </div>
</div>