<div class="heading" id="poopBlock">
	<a id="fakeLogo" href="/index.html">
		<div class="square" id="s1" style="background-color: red;"></div>
		<div class="square" id="s2" style="background-color: #00a2ff; margin-right: 0;"></div>
	</a>
	<div id="inHead">
		<div class="topLinks" id="int-nav-icons">
			<a href="/interests/music/"><div class="nav-icon"></div>MUSiC</a>
			<a href="/interests/websites/"><div class="nav-icon"></div>WEBSiTES</a>
		</div>
	</div>
</div>