#clockContainer {
	position: relative;
	width: 106px;
	height: 100%;
	display: inline-block;
}
#hour, #minute, #second, #thatThingInTheCenterOfaClock {
	position: absolute;
	background: #E6E1E5;
	transform-origin: bottom;
}
#thatThingInTheCenterOfaClock {
	width: 4%;
	height: 4%;
	top: 48%;
	bottom: 50%;
	left: 49%;
	right: 50%;
}
#hour {
	width: 1.8%;
	height: 25%;
	top: 25%;
	left: 50%;
	opacity: 0.8;
}
#minute {
	width: 1.6%;
	height: 30%;
	top: 19%;
	left: 50%;
	opacity: 0.8;
}
#second {
	width: 1%;
	height: 40%;
	top: 9%;
	left: 50%;
	opacity: 0.8;
}