<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.png">
	<meta charset="UTF-8">
	<link href="/more/archive/blog/25/post.css" rel="stylesheet">
</head>
<body>
	<nav>
		<div id="inHead">
			<div class="topLinks">
				<a href="/aboutme.html"><img src="/resources/nav/me.png">ABOUT</a>
				<a href="/creative/"><img src="/resources/nav/art.png">ART</a>
				<a href="/more/archive/blog/"><img src="/resources/nav/blog.png">BLOG</a>
				<a href="/interests/"><img src="/resources/nav/intr.png">iNTERESTS</a>
				<a href="/more/"><img src="/resources/nav/more.png">MORE</a>
				<a id="fakeLogo" href="/" title="Home">
					<div class="square" id="s1"></div>
					<div class="square" id="s2"></div>
				</a>
			</div>
		</div>
	</nav>
	<div class="content-area">
		<main>
			<h1>{{ title }}</h1>
			<p>{{ date | date("MMMM d, yyyy") }}</p>
			<hr>
			{{ content | safe }}
		</main>
	</div>
</body>
</html>