<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.png">
	<meta charset="UTF-8">
	<link href="/interests/music/fm/playing/help/style.css" rel="stylesheet">
</head>
<body>
	<nav>
		<a href="/">Site Home</a>
		<a href="index.html">Help</a>
		<a href="changelog.html">Changelog</a>
	</nav>
	<main>
		<h1>{{ title }}</h1>
		{{ content | safe }}
	</main>
</body>
</html>