header a {
	text-decoration: none;
	padding: 5px 10px 10px 5px;
}
header a:hover {text-decoration: underline;}
main {display: flex;}
aside {max-width: 125px;}
aside .box {margin-bottom: 5px;}
aside .box h3 {
	margin: 0;
	padding: 4px;
	font-size: 13px;
}
#counters {padding: 5px;}
#counters p {
	text-align: center;
	font-size: 16px;
	margin: 0;
}
.box ul, .box details {
	padding-inline-start: 10px;
	margin-block-start: 0;
	margin-block-end: 0;
}
.box ul li {
	list-style-type: none;
	margin: 0;
}
.box ul li a, .box details summary a {
	font-size: 12px;
	text-decoration: none;
}
.box ul li a:hover , .box details summary a:hover {text-decoration: underline;}
.counter {
	font-size: 56px;
	margin: 0;
	font-weight: bold;
}
article {
	margin: 0 0 0 5px;
	padding: 10px;
	width: 100%;
}