body {
  background-color: #2b151c;
  color: #ffd9e2;
}
h1, h2, h3, h4 {font-family: 'Martian Mono', monospace;}
img:hover {box-shadow: 0 0 5px 1px #ffd9e2;}
a {
  text-decoration: none;
  color: #ffdcc1;
}
.ezgallery.horizontal { 
  display: grid;
  grid-gap: 5px;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, auto);
}
.ezgallery.horizontal a {text-align: center;}
.ezgallery.horizontal img {
  text-align: center;
  vertical-align: middle;
  margin: 0 5px 5px 0;
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
  object-position: bottom;
}