<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.png">
	<meta charset="UTF-8">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@700&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');
		body {
			background: linear-gradient(180deg, rgba(58,9,5,1) 0%, rgba(17,20,75,1) 100%);
			color: #e0e0ff;
			font-family: 'Ubuntu', sans-serif;
		}
		main {
			margin: auto;
			max-width: 700px;
			font-size: 18px;
			mix-blend-mode: luminosity;
		}
		h1, h2, h3, h4, h5, h6 {font-family: 'Kode Mono', monospace;}
	</style>
</head>
<body>
	<main>
		<h1>{{ title }}</h1>
		<p>{{ date | date("MMMM d, yyyy") }}</p>
		<hr>
		{{ content | safe }}
	</main>
</body>
</html>
