<!DOCTYPE html>
<html lang="en">
<head>
	<title>#100DaysToOffload</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.png">
	<link href="/more/archive/blog/2024/10/100daystooffload/style.css" rel="stylesheet">
	<meta charset="UTF-8">
	<style>
		* {
			--light: #e0e0ff;
			--dark: #11144b;
		}
	</style>
</head>
<body>
	<header>
		<div id="logos">
			<a href="/">
				<div id="homego"></div>
			</a>
			<a href="/more/archive/blog/2024/10/100daystooffload/">
				<div id="logo"></div>
			</a>
		</div>
		<h1>title</h1>
		<p>date</p>
		<hr>
	</header>
	<main>
	</main>
	<footer>
		<hr>
		<p>this article was written as apart of <a href="/more/archive/blog/2024/10/100daystooffload/">#100DaysToOffload</a>, and is article <strong>0</strong> of <strong>100</strong>.</p>
		<iframe src="/more/archive/blog/2024/10/100daystooffload/widget.html"></iframe>
	</footer>
</body>
</html>