* {
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@700&family=Martian+Mono:wght@600&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	background-color: black;
	display: flex;
	flex-direction: column-reverse;
	font-family: 'Ubuntu', sans-serif;
}
.content-area {
	margin: 5px 5px 0 5px;
	border: 1px solid #ff9c01;
	overflow-y: scroll;
	width: calc(100vw - 10px);
	height: calc(100vh - 55px);
}
nav {
	image-rendering: pixelated;
}
.topLinks {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 5px;
	background-image: url(/more/archive/blog/25/res/navglow.png);
	background-repeat: no-repeat;
	background-position: right top;
}
.topLinks a {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 8px;
	padding-top: 5px;
	text-decoration: none;
	width: 50px;
}
.topLinks a img {
	width: 24px;
	margin-bottom: 4px;
}
.topLinks a:nth-child(2) {
	color: #c5e7ff;
	--background: blue;
}
.topLinks a:nth-child(3) {
	color: #dce1ff;
	--background: #0059ff;
}
.topLinks a:nth-child(4) {
	color: #ffd6fe;
	--background: #dd00ff;
}
.topLinks a:nth-child(5) {
	color: #ffdadb;
	--background: #ff0055;
}
.topLinks a:nth-child(6) {
	color: #ffdad6;
	--background: red;
}
#fakeLogo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 2px;
	margin: 0 5px 0 5px;
	pointer-events: all;
	width: 40px;
	height: 40px;
	background: linear-gradient(0deg, #7e7e7e 0%, #ffffff 100%);
	border: 5px solid black;
	aspect-ratio: 1;
}
#fakeLogo .square {
	width: 10px;
	height: 10px;
	margin: 2px;
}
#s1 {
	background-color: red;
	background: linear-gradient(0deg, #ff7b00 0%, #ff0000 100%);
	animation: blink 15s infinite;
}
#s2 {
	background-color: #00a2ff;
	background: linear-gradient(180deg, #00a2ff 0%, #0044ff 100%);
}
@keyframes blink {
	0% {height: 10px; margin-top: 0; margin-bottom: 0;}
	10% {height: 10px; margin-top: 0; margin-bottom: 0;}
	11% {height: 3px; margin-top: 7px; margin-bottom: 7px;}
	12% {height: 10px; margin-top: 0; margin-bottom: 0;}
	100% {height: 10px; margin-top: 0; margin-bottom: 0;}
}
#accessibility-button {
	position: absolute;
	top: -40px;
	left: 0;
	background: #000;
	color: #fff;
	padding: 8px;
	z-index: 100;
}
#accessibility-button:focus {top: 0;}
/* post content area */
.content-area.default {
	background: #f7dfbb;
	background-image: url('/more/archive/blog/25/res/bg/light.png');
	--border: #f1d5a8;
}
.content-area.default main {
	margin: 10px auto 0 auto;
	color: #201b13;
	background-color: #fff8f3;
	max-width: 700px;
	font-size: 16px;
	padding: 20px;
	line-height: 30px;
	border: 2px solid var(--border);
}
img {
	max-width: 100%;
}
.content-area.default header {
	text-transform: uppercase;
	padding: 5px;
	background: linear-gradient(180deg, #fdf4e8 0%, #fdf4e8 60%, #00000000 100%);
}
.content-area.default #article-date, .content-area.default h1 {
	margin-block-start: 0;
	margin-block-end: 0;
}
.content-area.default #article-date {
	font-family: 'Kode Mono', monospace;
	font-weight: bold;
	font-size: 6vw;
	color: #58432c;
}
.content-area.default h1 {
	font-size: 10vw;
	letter-spacing: -0.5vw;
	line-height: 8vw;
	color: #ff9c01;
	text-align: justify;
}
.content-area.default h1, .content-area.default h2, .content-area.default h3, .content-area.default h4, .content-area.default h5, .content-area.default h6 {font-family: 'Kode Mono', monospace;}
pre {
	background-color: #043634;
	border: 2px solid #38726e;
	color: #c8f4f3;
	padding: 10px;
	border-radius: 5px;
	white-space: pre-line;
}
hr {
	border: unset;
	border-top: 2px solid var(--border);
}
blockquote {
	border-left: 2px solid #5f5f60;
	margin-inline-start: 0px;
	padding-left: 30px;
}

@media only screen and (min-width: 700px) {
	.content-area.default header {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
	.content-area.default #article-date {
		writing-mode: vertical-rl;
		text-orientation: sideways;
		font-size: 3vw;
	}
}