<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <meta name="theme-color" content="#00ffb1">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <nav>{% include "navbar.njk" %}</nav>
    {{ content | safe }}
  </body>
</html>