* {box-sizing: border-box;}
::-webkit-scrollbar {width: 0;}
body {
	font-family: sans-serif;
	margin: 0;
	color: white;
	overflow-x: hidden;
}
.content p {text-shadow: 0px 0px 5px #00000099;}
#listen {
	font-size: 20px;
	margin-block-start: 0;
	margin-block-end: 10px;
}
.content {max-height: 100vh;}
.moneyOnMind {
	width: 100vmax;
	height: 100vmax;
	position: absolute;
	z-index: 0;
	background-size: 80vmax;
	background-repeat: repeat;
	animation: rotate 45s linear infinite;
	scale: 1.5;
}
#artwork {
	display: inline-block;
	width: 30vmin;
	max-width: 300px;
	border-radius: var(--corners);
}
#artworklink {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
#hiPoopFart {
	backdrop-filter: blur(var(--bg-blur)) saturate(2);
	-webkit-backdrop-filter: blur(var(--bg-blur)) saturate(2);
	position: relative;
	z-index: 1;
	background-color: rgba(49, 49, 49, 0.4);
	width: 100vw;
	height: 100vh;
	object-fit: contain;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--edge-distance);
}
@keyframes nowBack {
	0% {background-position-y: 0%; background-position-x: 0%; transform: rotate(0deg);}
	20% {background-position-x: 113%; background-position-y: 213%;}
	40% {background-position-x: 226%; background-position-y: 426%;}
	60% {background-position-x: 339%; background-position-y: 639%;}
	80% {background-position-x: 452%; background-position-y: 852%;}
	100% {background-position-y: 1065%; background-position-x: 565%; transform: rotate(360deg);}
}
@keyframes nowFront {
	0% {background-position-y: 0%; background-position-x: 0%; transform: rotateY(360deg);}
	20% {background-position-x: -113%; background-position-y: -213%;}
	40% {background-position-x: -226%; background-position-y: -426%;}
	60% {background-position-x: -339%; background-position-y: -639%;}
	80% {background-position-x: -452%; background-position-y: -852%;}
	100% {background-position-y: -1065%; background-position-x: -565%; transform: rotateY(0deg);}
}
@keyframes rotate {
	0% {transform: rotate(360deg);}
	100% {transform: rotate(0deg);}
}
@keyframes otherRotate {
	0% {transform: rotate3d(0, 0, 0, 0deg);}
	100% {transform: rotate3d(2, 5, 8, 359deg);}
}
#click-hint {
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 15;
	background: linear-gradient(0deg, black 0%, #00000000 100%);
	text-align: center;
	transition-duration: 3s;
	pointer-events: none;
}
#controls, #enter-name {
	--settings-fg: #CAC4D0;
	--settings-bg: #79747e;
	background-color: #79747e6f;
	border: 1px solid var(--settings-fg);
	backdrop-filter: blur(10px) brightness(0.5);
	-webkit-backdrop-filter: blur(10px) brightness(0.5);
	z-index: 10;
}
.darky {background-color: #2a2331 !important;}
#controls {
	display: none;
	position: absolute;
	right: 15px;
	bottom: 15px;
	height: 90vh;
	max-height: 200px;
}
#controls img {image-rendering: pixelated;}
#controls p {
	margin-block-start: 0;
	margin-block-end: 0;
}
#controls button {
	border: 1px solid #CAC4D0;
	padding: 5px;
	box-shadow: 2px 2px 0 0;
	font-size: 10px;
	background-color: unset;
	color: #CAC4D0;
	width: 70px;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
}
#controls button:hover {
	box-shadow: 1px 1px 0 0;
	transform: translate(1px, 1px);
}
#controls button:active {
	box-shadow: unset;
	transform: translate(2px, 2px);
}
#controls .radio-button {
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.button-grid-3x3 {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	gap: 5px;
}
.enabled .enabled-status {
	width: 14px;
	height: 14px;
	background-color: var(--settings-fg);
}
#control-area {
	margin: 5px;
	height: 100%;
	max-height: 180px;
	overflow-y: scroll;
}
#control-area::-webkit-scrollbar {
	width: 5px;
	margin-left: 5px;
}
#control-area::-webkit-scrollbar-thumb {background-color: var(--settings-fg);}
#control-header {
	text-align: center;
	font-size: 9px;
	width: 100%;
	background-color: #CAC4D0;
	color: #2c2b2e;
	font-weight: bold;
}
.c-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 5px;
	padding: 5px;
	padding-top: 3px;
	border: 1px solid #CAC4D0;
	text-align: left;
	margin: 0 5px 5px 0;
}
.c-row p {display: flex;}
.c-row img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	image-rendering: pixelated;
}
.w-slide {
	padding-top: 5px;
	flex-direction: column;
	align-items: flex-start;
}
.mult-choice {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}
.mc-o {
	font-size: 10px;
	cursor: pointer;
	border: 1px solid #CAC4D0;
	padding: 0 3px 0 3px !important;
	width: unset !important;
}
.selected {
	background-color: #CAC4D0 !important;
	color: #2c2b2e !important;
	box-shadow: unset !important;
}
#enter-name {
	position: absolute;
	bottom: 65px;
	right: 10px;
	height: 22px;
	display: none;
}
#username {
	background: none;
	border: none;
	border-bottom: 1px solid var(--settings-fg);
	color: #CAC4D0;
}
#color-choices {
	display: flex;
	width: 100%;
	justify-content: space-around;
}
.color-button {
	border: 1px solid var(--settings-fg);
	padding: 0;
	outline: unset;
	width: 30px;
	height: 30px;
	box-shadow: 2px 2px 0 0 var(--settings-fg);
}
.color-button::-webkit-color-swatch-wrapper {padding: 0;}
.color-button::-webkit-color-swatch {border: none;}
#song {font-weight: bold;}
.hide-song #song, .hide-artist #artist, .hide-album #album, .hide-listen {display: none;}
/* styles for when in portrait */
.portrait #hiPoopFart #artworklink {
	flex-direction: column;
	align-items: center;
}
.portrait #hiPoopFart #artworklink #track {text-align: center;}
.portrait #hiPoopFart #artworklink #artist {font-size: 4vmin;}
.portrait #hiPoopFart #artworklink #song {font-size: 5vmin;}
/* styles for when in landscape */
.landscape {
	--side-margin: 15px;
}
.landscape #hiPoopFart #artworklink #album {font-size: 3vmin;}
.landscape #hiPoopFart #artworklink #track {
	margin-block-end: 0;
	font-size: 2.5vmax;
}
.landscape #hiPoopFart #artworklink #song {font-size: 3vmax;}
.landscape #hiPoopFart #artworklink #album {font-size: 2vmax;}
.landscape #hiPoopFart #artworklink #artwork {width: 20vmax;}
/* landscape left aligned */
.landscape.left-side #hiPoopFart {
	align-content: flex-start;
	align-items: flex-start;
}
.landscape.left-side #hiPoopFart #artworklink #track {
	margin-left: 15px;
}
/* landscape right aligned */
.landscape.right-side #hiPoopFart {
	align-content: flex-end;
	align-items: flex-end;
	flex-wrap: wrap;
}
.landscape.right-side #hiPoopFart #listen, .landscape.right-side #hiPoopFart #artworklink #track {
	text-align: right;
}
.landscape.right-side #hiPoopFart #artworklink {
	flex-direction: row-reverse;
}
.landscape.right-side #hiPoopFart #artworklink #track {
	margin-right: 15px;
}
/* top middle and bottom */
.top-pos #hiPoopFart {justify-content: flex-start;}
.middle-pos #hiPoopFart {justify-content: center;}
.bottom-pos #hiPoopFart {justify-content: flex-end;}

/* whatever */
.noBg #moneyOnMind, .noBg #fartOnMind {display: none;}
.whiteBg {
	background-color: white;
	color: black;
}
.blackBg {
	background-color: black;
	color: white;
}
.custom-colors {
	background-color: var(--bg);
	color: var(--fg);
}
.blackBg #hiPoopFart, .whiteBg #hiPoopFart, .custom-colors #hiPoopFart {
	background-color: unset;
	backdrop-filter: unset;
	-webkit-backdrop-filter: unset;
}
.blackBg p, .whiteBg p, .custom-colors p {text-shadow: none !important;}
.slider-box {
	width: 100%;
	margin-bottom: 10px;
}
.slider {
	appearance: none;
	width: 100%;
	height: 1px;
	outline: none;
	background: unset;
	border-top: 1px solid var(--settings-fg);
	margin: 0;
}
.slider::-webkit-slider-thumb {
	appearance: none;
	width: 15px;
	height: 15px;
	background-color: var(--settings-bg);
	border: 1px solid var(--settings-fg);
	box-shadow: 2px 2px 0 0 var(--settings-fg);
}
.small-text {
	margin-block-start: 0;
	max-width: 200px;
	font-size: 11px;
	color: var(--settings-fg);
}