* {
	--dark-primary: #ffb3ad;
	--dark-tertiary: #e0c38c;
	--dark-on-tertiary: #3f2e04;
	--light-on-primary-container: #3a0905cc;
	--dark-on-primary-container: #ffdad4;
	--bg-1: red;
	--bg-2: #ffaa00;
	--border: red; 
}
main {
	max-width: unset;
	display: flex;
	gap: 10px;
	background-image: unset;
	max-height: 100vh;
	margin: 0 0 0 0 !important;
	backdrop-filter: unset;
	-webkit-backdrop-filter: unset;
}
main::before {content: unset;}
#sidebar {
	width: 30%;
	min-width: 150px;
	margin-bottom: 0;
}
.inner-content {
	overflow-y: scroll;
	height: 100%;
}
#rightside {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 70%;
}
iframe {
	border: unset;
	width: 100%;
	height: 60%;
}
#bottom-code {
	height: 40%;
	margin-bottom: 0;
	padding: 0;
}

/* navbar style */

.heading {
	position: relative;
	background-color: unset;
	margin-bottom: 65px;
}
.heading::after, #fakeLogo::after {content: unset;}
#fakeLogo {
	margin: 10px;
	position: relative;
	width: 58px;
	height: 58px;
}
#fakeLogo:hover {transform: unset;}
#inHead {
	justify-content: flex-start;
	padding-right: unset;
}
#topLinks a img {
	width: 24px;
	height: 24px;
	margin: 5px;
	image-rendering: pixelated;
	opacity: 0.75;
}
#topLinks a img:hover {opacity: 1;}

/* Gist style */

.gist .gist-file {
	margin-bottom: unset !important;
}
.gist .gist-meta {
	position: absolute;
	bottom: 0;
	width: calc((100%) - 5px);
}