<!DOCTYPE html>
<html lang="en">
	<head>
		<title>page title here hello - WiiCHiCKEN</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<link href="/style.css" rel="stylesheet">
		<noscript><style>#poopBlock iframe {display: block !important;}</style></noscript>
	</head>
	<body>
		<style>
			* {
				--dark-tertiary: #xxxxxx;
				--dark-on-tertiary: #xxxxxx;
			}
		</style>
		<div id="heightCheck"></div>
		<div class="heading" id="poopBlock" style="pointer-events: all;">
			<iframe src="/resources/nav/fallback.html" loading="lazy"></iframe>
		</div>
		<div id="sideButton" onclick="openSidey()"></div>
		<div id="overSide"></div>
		<div id="chewTooth"></div>
		<!-- glunk goes here -->
		<script src="/resources/nav/navbar.js"></script>
	</body>
</html>