span.Pillstyled__Pill-024xaq-0.fBPUOF {display: none !important;}
span.Textstyled__Text-r9s5pv-0.eQbVMw, span.Textstyled__Text-r9s5pv-0.dLsDTe {
	font-size: 25px;
	font-weight: bold;
}
.App__AppContainer-sc-1e8yevm-0.iyRwof::before {
	content: ':)';
	position: absolute;
}