* {border-radius: 0 !important;}
.MakeLandingViewstyled__PrimaryGrid-sc-13ori5r-1.hNPAAE::before {
	content: 'you are doing great.';
	position: absolute;
	opacity: 0.1;
	left: 30%;
	top: 50%;
	font-size: 60px;
	animation: hello 180s infinite;
	color: white;
}
@keyframes hello {
	0% {
		top: 10%;
		font-size: 40px;
	}
	50% {
		top: 50%;
		font-size: 60px;
		transform: rotate3d(1, 1, 1, 45deg);
		content: 'you are doing great.';
	}
	100% {
		top: 10%;
		font-size: 40px;
		content: 'you are doing great!';
	}
}
.MakeLandingViewstyled__SecondaryGrid-sc-13ori5r-2.kKijgu, .MakeLandingViewstyled__TilesSection-sc-13ori5r-3.etyNoy, .MakeLandingStyles__MakeLandingMenuContainer-sc-4hl7b0-0.cfoOBQ {background-color: unset !important;}
.App__AppContainer-sc-le8yevm-0.iyRwof {background-image: url('https://wiggle.monster/starry.gif');}
.HotNReadyTileLedger__LedgerContainer-xxz0ie-6.dvNQKR, span.Pillstyled__Pill-o24xaq-0.fBPUOF, .MakeLandingStyles__MakeLandingMenuSeparatorText-sc-4hl7b0-1.cStVnm {display: none !important;}
.hotNReadyMakeStyles__HotNReadyMakeContainer-sc-12hoza-0.fgVtjH {
	background-color: #0000003d;
	backdrop-filter: blur(2px);
}
.MakeLandingStyles__MakeLandingMenuContainer-sc-4hl7b0-0.MakeLandingStyles__MakeLandingMenuSeparatorContainer-sc-4hl7b0-2.jJWBHM {
	background-color: #00000000;
	backdrop-filter: blur(3px);
}
button.Buttonstyled__Button-dyokhf-2.buFqnH {
	background-color: white;
	color: black;
}
span.Textstyled__Text-r9s5pv-0.eQbVMw {
	font-size: 25px;
	font-weight: bold;
}
.ToppingPositionstyled__LeftPlacement-fnexeb-1.koVPEp, .ToppingPositionstyled__RightPlacement-fnexeb-2.iEyaIY {animation: what-the-what 1s infinite;}
@keyframes what-the-what {
	0% {background-color: black;}
	50% {background-color: orange;}
	100% {background-color: black;}
}