<nav>
	<div id="in-nav">
		<div class="topLinks">
			<a href="#top" id="accessibility-button">Skip to Content</a>
			<a href="/aboutme.html"><div class="nav-icon"></div>ABOUT</a>
			<a href="/creative/"><div class="nav-icon"></div>ART</a>
			<a href="/more/archive/blog/"><div class="nav-icon"></div>BLOG</a>
			<a href="/interests/"><div class="nav-icon"></div>iNTERESTS</a>
			<a href="/more/"><div class="nav-icon"></div>MORE</a>
			<a id="fakeLogo" href="/" title="Home">
				<div class="square" id="s1"></div>
				<div class="square" id="s2"></div>
			</a>
		</div>
	</div>
</nav>