<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/favicon.png">
	<meta charset="UTF-8">
	<style>
		main {
			margin: auto;
			max-width: 700px;
			font-size: 18px;
			padding: 10px;
		}
		h1 {text-align: center;}
	</style>
</head>
<body>
	<main>
		<h1>{{ title }}</h1>
		<p>{{ date | date("MMMM d, yyyy") }}</p>
		<hr>
		{{ content | safe }}
	</main>
</body>
</html>