@font-face {
    font-family: 'Arvo', serif;
    src: url(https://fonts.googleapis.com/css2?family=Arvo&display=swap);
}
h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 2px 2px 5px black;
    transition-duration: 0.6s;
}
h2 {
    text-align: center;
    font-family: 'Arvo', serif;
}
h3 {
    font-family: 'Arvo', serif;
}
button {
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    border: 0px solid black;
    padding: 10px 15px;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
}
button:active {
    border-radius: 20px;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.dark-mode {
    background-color: black;
    color: white;
}
.tablink {
    background-color: rgb(53, 53, 53);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
    border-radius: 0px;
}
.tablink:hover {
    background-color: rgb(36, 36, 36);
    border-radius: 0px;
}
.tabcontent {
    display: none;
    padding: 40px 20px;
    height: 100%;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: grey;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: 0.3s;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 95%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: grey transparent transparent transparent;
    transition: 0.3s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    border-radius: 15px;
    padding: 10px 10px;
}
.tooltip:hover .tooltiptext::after {
    margin-left: 0px;
    top: 100%
}
.cookiesmessage {
    position: fixed;
    bottom: 35px;
    right: 20px;
    margin-left: 20px;
    max-width: 300px;
}
.cookiesmessage-header {
    padding: 25px 15px;
    background: grey;
    font-size: 30px;
    color: white;
}
.cookiesmessage-container {
    padding: 15px;
    background-color: #ccc;
    color: black;
}
.closecookiesmessage {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
#score {
    text-align: center;
    font-size: 25px;
    font-family: 'Arvo', serif;
}
#bpscounter {
    text-align: center;
}
#singlebytebutton {
    background-color: rgb(0, 255, 64);
    border: 10px solid rgb(0, 255, 64);
    padding: 20px 35px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    transition-duration: 0.4s;
    margin: auto;
    width: 100%;
    transition-timing-function: ease;
    animation-name: typebuttonwelcome;
    animation-duration: 1s;
}
#darkmodebutton {
    transition-duration: 1.0s;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
}
#singlebytebutton:hover {
    background-color: rgb(87, 255, 224);
    border: 10px solid rgb(87, 255, 224);
    color: black;
    border-radius: 30px;
    padding: 30px 45px;
}
#singlebytebutton:active {
    background-color: rgb(0, 255, 166);
    border: 10px solid rgb(0, 255, 166);
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    transition-duration: 0.5s;
}
#snackbar.show {
    visibility: visible;
    opacity: 1;
    border-radius: 15px;
    min-width: 270px;
}
#snackbar.hide {
    visibility: hidden;
    opacity: 0;
    border-radius: 2px;
    min-width: 250px;
}
#cookiespopup {
    visibility: hidden;
}
@keyframes titlewelcome {
    0% {font-size: 120px;}
    100% {font-size: 60px;}
}
@keyframes typebuttonwelcome {
    0% {transform: rotateZ(4deg);}
    100% {transform: rotateZ(0deg);}
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@keyframes snackfadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes snackfadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}