@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@700&family=PT+Sans&display=swap');
body {
	margin: 0;
	font-family: 'PT Sans', sans-serif;
	background-color: var(--bg);
	color: var(--main);
}
h1, h2, h3, h4, h5, h6 {font-family: 'Martian Mono', monospace;}
hr {
	height: 0px;
	color: var(--border);
	border: 1px solid var(--border);
}
a {
	color: var(--bg);
	text-decoration: none;
}
#themachine, main {margin-bottom: 40px !important;}
.heading {
	width: 100%;
	z-index: 10;
	margin: 0;
	bottom: 0;
	position: fixed;
	transition-duration: 0.5s;
	background-color: black;
}
#n-i-m {color: #ffdbcc;}
#n-i-m .nav-icon {background: url(/interests/res/nav/nav.png) 0 0;}
#n-i-w {color: #b3ebff;}
#n-i-w .nav-icon {background: url(/interests/res/nav/nav.png) -24px 0;}
@media only screen and (max-width: 650px) {
	#int-nav-icons a:nth-child(2) .nav-icon {background: url(/interests/res/nav/nav.png) -24px 0;}
}