._1rl5JG79eYaUr8ZsczcTwL {display: none;}
* {border-radius: 0px !important;}
._2wELUSx2ffbav1zwjjeGYi :where(._3jaLmiyXjto4WCtc1OF_F7)._3ZsA2-5GJ7M1jk-VwYz0D_:before {display: none;}
._350_PHL5v_jNROv_4UEIFB {display: none;}
._1fJQLY3NzmLrdWaOTqOBgG .MpkyObDAJJhMLDOkejyOJ {
margin: 0;
margin-top: 56px;
background-color: unset;
}
._3qkRmCv85UAtAkxPNO9HYp {display: none;}
.mx_MatrixChat_wrapper--windows .bp_LeftPanel {background-color: none;}
._2wELUSx2ffbav1zwjjeGYi._1e4yEAnYW4PjfbZj4Z3LUp ._3jaLmiyXjto4WCtc1OF_F7 {
background: black;
}
._1S9lQ-y8ir7-cUvCwfMhTL {
	grid-template-columns: auto fit-content(80%);
}
._1S9lQ-y8ir7-cUvCwfMhTL._1GNiuR7GIbP7CiNVCck_IB ._3SCwVlBxZJeikuUJW-l2ua {
	order: unset;
}
._3Xm5rfaxoRuhz7WxuR7YPj._2ey7aoQpE0hgvTfUhLOcQq {
	justify-content: start;
}
._3Xm5rfaxoRuhz7WxuR7YPj {
	width: unset;
}
._1S9lQ-y8ir7-cUvCwfMhTL._1GNiuR7GIbP7CiNVCck_IB {
	justify-content: left;
}
._2wELUSx2ffbav1zwjjeGYi._1e4yEAnYW4PjfbZj4Z3LUp ._3jaLmiyXjto4WCtc1OF_F7 {
	animation: rainbowsend 1s cubic-bezier(0, 0, 0.2, 1);
}
@keyframes rainbowsend {
	0% {filter: hue-rotate(180deg);}
	100% {filter: hue-rotate(360deg);}
}
._1vOGk0F7n0ZTHp1Mmsq12A, ._1S9lQ-y8ir7-cUvCwfMhTL, ._1vOGk0F7n0ZTHp1Mmsq12A, ._1S9lQ-y8ir7-cUvCwfMhTL {
	margin-top: none !important;
}
.mx_RoomHeader_BridgedIcon {display: none;}
._2wELUSx2ffbav1zwjjeGYi._1e4yEAnYW4PjfbZj4Z3LUp:not(._2g9v8ur3qGI2UjIRqE-c3-)::before {
	height: 100%;
	width: 3px;
	background: var(--chatview__message_self__backgroundcolor);
	position: absolute;
	left: 0;
	content: '';
	z-index: 11;
	animation: rainbowsend 1s cubic-bezier(0, 0, 0.2, 1);
}