<div class="heading" id="poopBlock">
	<a href="#start" id="to-start"><button>Skip to Content</button></a>
	<a id="fakeLogo" href="/" title="Home">
		<div class="square" id="s1"></div>
		<div class="square" id="s2"></div>
	</a>
	<div id="inHead">
		<div class="topLinks">
			<a href="/aboutme.html"><div class="nav-icon"></div>ABOUT</a>
			<a href="/creative/"><div class="nav-icon"></div>ART</a>
			<a href="/more/archive/blog/"><div class="nav-icon"></div>BLOG</a>
			<a href="/interests/"><div class="nav-icon"></div>iNTERESTS</a>
			<a href="/more/"><div class="nav-icon"></div>MORE</a>
			<a href="/guestbook.html"><div class="nav-icon"></div>GUESTBOOK</a>
		</div>
	</div>
</div>