<div class="heading" id="poopBlock">
	<a href="#start" id="to-start"><button>Skip to Content</button></a>
	<a id="fakeLogo" href="/" title="Home">
		<div class="square" id="s1"></div>
		<div class="square" id="s2"></div>
	</a>
	<div id="inHead">
		<div class="topLinks">
			<a href="/aboutme.html"><img src="/resources/nav/me.png">ABOUT</a>
			<a href="/creative/"><img src="/resources/nav/art.png">ART</a>
			<a href="/more/archive/blog/"><img src="/resources/nav/blog.png">BLOG</a>
			<a href="/interests/"><img src="/resources/nav/intr.png">iNTERESTS</a>
			<a href="/more/"><img src="/resources/nav/more.png">MORE</a>
			<a href="/guestbook.html"><img src="/resources/nav/gb.png">GUESTBOOK</a>
		</div>
	</div>
</div>