<a href="#start" id="to-start"><button>Skip to Content</button></a>
<nav class="site-nav">
	<div class="navbar-links">
		<a id="n-a" href="/aboutme.html"><div class="nav-icon"></div>ME</a>
		<a id="n-c" href="/creative/"><div class="nav-icon"></div>ART</a>
		<a id="n-b" href="/more/archive/blog/"><div class="nav-icon"></div>BLOG</a>
	</div>
	<a id="fakeLogo" title="Home" href="/index.html">
		<img src="/resources/nav/niqiu.png" alt="">
	</a>
	<div class="navbar-links">
		<a id="n-l" href="/interests/"><div class="nav-icon"></div>LiKES</a>
		<a id="n-m" href="/more/"><div class="nav-icon"></div>MORE</a>
		<a id="n-g" href="/guestbook.html"><div class="nav-icon"></div>GB</a>
	</div>
</nav>